 * {
   box-sizing: border-box;
 }
 nav ul {
list-style-type: none;
overflow: hidden;
margin: 0px;
padding: 0px;
width: 100%;
background-color: grey;
 }
 nav ul li {
   display: block;
   margin: 0;
 }
 nav ul a:hover{
   background-color: #4CAF50;
 }
 li a{
   text-decoration: none;
   display: block;
   text-align: center;
   padding: 20px;
   margin: 0px;
   color: white;
 }

 /*applying position to container for future positioning of search bar*/
 .container {
   position: relative;
 }
#myImage{
  width: 100%;
  height: auto;
}
/*positioning div in relation to image*/
.locate{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*setting search bar horizontally*/
.locate input {
  outline: none;
  display: inline-block;
}
#iname{
  padding: 15px 20px;
  width: 350px;
  border-radius: 10px;
  margin-right: 10px;
}
#submit{
  background-color: #4CAF50;
  padding: 15px 20px;
  border-radius: 10px;
  color: white;
}
#submit:hover {
  box-shadow: 2px 2px 0 #357a38;
  background-color: #357a38
}
label{
  color: white;
  font-size: 30px;
  display:block;
}

#error {
  color: white;
  font-size: 20px;
}
 #output{
   color: black;
   margin-left: auto;
   margin-right: auto;
   height :80%;
   width: 50%;
   font-family: monospace;
 }
#output th{
  height: auto;
  width: auto;
}
#output td{
  width: 20%;
  font-size: 20px;
}
#full{
  text-decoration: underline;
}
#top0,#top1,#top2,#top3,#top4,#top5,#top6,#top7,#top8,#top9,#top10,#top11{
  width: 33%;
  float: left;

}
.heading {
  font-size: 50px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 10px;
}


.modal, .modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    margin: auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content1 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    height: 100%;
    overflow: auto;
}


/* The Close Button */
.close, .close1 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus,
.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
#response {
  display: none;
}
#backtosearch{
  width: 100%;
  clear: left;
  padding: 30px;
  background-color: #4CAF50;
  margin-top: 40px;
}

#player {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
button{
  padding: 10px;
  background-color: #008CBA;
  border-radius: 5px;
}
button:hover{
  box-shadow: 2px 2px 0px #f1f1f1;
}

/*reducing width of search bar to keep inline-block*/
@media screen and (max-width: 1400px){
  #iname{
    width: 400px;
  }
}
 @media screen and (max-width: 1050px){
   #iname{
     width: 350px;
   }
 }
 @media screen and (max-width: 950px){
   #iname{
     width: 300px;
   }
 }
 /*changing inline block to block and changing style of buttons*/
@media screen and (max-width:850px) {
  #submit {
    padding: 5px 5px;
    width: 200px;
  }
  #iname{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .locate input{
    display:block;
  }
}
/*moving search bar off the image*/
 @media screen and (max-width: 700px){
      .locate {
        position: relative;
        margin-top: 90px;
      }
   .locate input{
     display: block;
   }
   label{
     color: black;
     display: block
   }
   #error{
     color: black;
   }
   #output {
     margin-top: -140px;
   }
   #player {
       position: absolute;
       top: 10%;
       left: 10%;
       width: 70%;
       height: 70%;
   }


 }
 /*reducing size of font*/
 @media screen and (max-width: 500px){
   label{
     font-size: 20px;
   }
   #error{
     font-size: 20px;
   }

 }
@media screen and (max-width: 900px){
  #top0,#top1,#top2,#top3,#top4,#top5,#top6,#top7,#top8,#top9,#top10,#top11{
    width: 50%;
  }
}
@media screen and (max-width: 600px){
  #top0,#top1,#top2,#top3,#top4,#top5,#top6,#top7,#top8,#top9,#top10,#top11{
    width: 100%;
    top:0;
    right:0;
    margin:auto;
  }
}
